<section id="services_signin" class="services">
<h1>Campusmack Sign in</h1><br>

<p>Sign in with your Campusmack account -- OR -- use an alternate authentication service:</p>

<%= form_for(:session, :url => sessions_path) do |f| %>
 <div class="field">
	<%= f.label :email %><br />
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label :password %><br />
	<%= f.password_field :password %>
</div>
<div class="actions">
	<%= f.submit "Sign in" %>
</div>
<% end %>
<p> New user? <%= link_to "Sign up now!", signup_path %></p>  


<p>Supported Alternate Sign In Services:</p>

<div class = "logos">
<%= render "services_list" %>
</div>
</section><br>

