<ul>
		<td class ="post", id = "title"><%= link_to redemption.title, "/redemptions/#{redemption.id}" %>
		</td>
<tr>
	<td class ="micropost">
		<% unless redemption.photo_file_name.nil? %>
		<span class = "photo"><%= image_tag redemption.photo.url(:medium) %></span>
		<% end %>
		<span class="content"><%= youtube_embed(redemption.content).html_safe %></span>
		<span class = "vote">Total Votes: <%= redemption.vote %></span>
		<span class="timestamp"><br>
			Posted <%= time_ago_in_words(redemption.created_at) %> ago.
			</span>
		</td>	
			</td>
			<td>	 
					<% if request.fullpath =~ /redemptions/ %>
					<%= link_to "delete", redemption,:method => :delete,
													 :confirm => "You sure",
													 :title => redemption.content %>
					<% end %>								
				</td>								
	</tr>
</ul>