<%= render 'shared/masthead1' %>
</table>
		<h1><%= @college.name %> Redemptions</h1><br>
			<table class="masthead">
			<tr>
				<td>
					Videos | Photos | News
				</td>
			</tr>
			</table>
		<a><%= link_to "Add a Redemption", new_user_college_redemption_path(@college) %></a>
		<%= will_paginate(@redemptions)%>
		<table class = "post">
		<%= render @redemptions %>
		</table>

