<%= render 'shared/masthead1' %>
</table>
		<h1><%= @college.name %> Redemptions</h1><br>
			<table class="masthead">
			<tr>
				<td>
					Videos | Photos | News
				</td>
			</tr>
			</table>
			<% if signed_in? %>
		<a><%= button_to "Add a Redemption", new_user_college_redemption_path(@user, @college), :method => :get %></a>
		<% else %>
		<a><%= button_to "Add a Redemption", signin_path, :method => :get %></a>
			<% end %><br>
		<%= will_paginate(@redemptions)%>
		<table class = "post">
		<%= render :partial => "/posts/post", :collection => @redemptions %>
		</table>

