<%= render 'shared/masthead1' %>

	<h1><%= @college.name %> Redemptions</h1><br>
		
	<%= render 'masthead' %>
		
		<% if signed_in? %>
		<%= link_to "Add a Redemption", new_user_college_redemption_path(@user, @college), :method => :get, :class => "button" %>
		<% else %>
		<%= link_to "Add a Redemption", signin_path, :method => :get, :class => "button" %>
		<% end %><br>
			
		<%= render 'shared/search_fields_redemptions'%>
		
		<table class = "post">
		<%= render :partial => "/posts/post", :collection => @redemptions %>
		</table>
		<%= will_paginate(@redemptions)%>
