<div id="contact_group_form">
  <% @contact_groups = ContactGroup.find_all_by_user_id(current_user) %>
  <div style='padding:10px; margin: 10px'>

    <% if @contact_groups.present? %>
      <%= '<input class="rbtn" type="radio" name="group_type" value="existing" checked="checked" />'.html_safe %>
      <%= "<span style='padding:10px'> Select Group </span>".html_safe %>
      <%= select("group", 'id', @contact_groups.map { |u| [u.name, u.id] }, {:style => 'width:132px;'}) %>
    <% end %>

    <br/><br/>

    <input
    <% if !@contact_groups.present? %> <%= 'checked="checked"'.html_safe %>
    <% end %>
    class="rbtn" type="radio" name="group_type" value="new"/>
    <span>New Group</span>
    <input type="text" name="new_group_name"/>
  </div>

  <div class='dark_button' style="float:right"><%= link_to("Add contacts", add_to_group_contact_groups_path(@contact_group), :id => "add_contact") %></div>
</div>


<script type="text/javascript" >
  $(document).ready(function(){

    var h = $('#rowclick1').height();

    $('#add_contact').click(function(){

        $.ajax({
          type: "POST",
          url: "<%= add_to_group_contact_groups_path() -%>",
          data: $('#contact_group_form :input').serialize() + "&" +$('input:checkbox:checked.chk_box').serialize(),
          success: function(){
                   $('#rowclick1').html("<table><td class='ajax_loader' style='height:" + h + "px;'><img src='/images/ajax-loader.gif'/></td></table>");
                   $('#rowclick1').load(location + ' ' + '#rowclick1' );
               }
        });
      
      return false;
    });


$(document).bind('close.facebox', function() {
      hide_img_selected();
});



function hide_img_selected() {
    var ids = $(".chk_box:checked")
    for (var i = 0; i < ids.length; i++) {
        var id = "#img" + ids[i].value;
        $(id).hide();
    }
}

    $('#contact_group_form input[name=new_group_name]').focus(function(){
      $('#contact_group_form input.rbtn[value=new]').prop('checked', true);
    });
  });
</script>