<div id="contact_group_form" class="facebox_form">
  <% @contact_groups = ContactGroup.find_all_by_user_id(current_user) %>
  <table cellspacing="0" cellpadding="0">
    <tr>
    <% if @contact_groups.present? %>
      <td class="radio"><%= '<input class="rbtn" type="radio" name="group_type" value="existing" checked="checked" />'.html_safe %></td>
      <td class="text"><%= "<span'> Select Group </span>".html_safe %></td>
      <td><%= select("group", 'id', @contact_groups.map { |u| [u.name, u.id] }) %></td>
    <% end %>
    </tr>
    <tr>
      <td class="radio">
        <input
        <% if !@contact_groups.present? %> <%= 'checked="checked"'.html_safe %>
        <% end %>
        class="rbtn" type="radio" name="group_type" value="new"/>
      </td>
      <td class="text"><span>New Group</span> </td>
      <td><input type="text" name="new_group_name"/></td>
    </tr>
  </table>

  <div class='dark_button' style="float:right"><%= link_to("Add contacts", add_to_group_contact_groups_path(@contact_group), :id => "add_contact") %></div>
</div>


<script type="text/javascript" >
  $(document).ready(function(){

    var h = $('#rowclick1').height();

    $('#add_contact').click(function(){

        $.ajax({
          type: "POST",
          url: "<%= add_to_group_contact_groups_path() -%>",
          data: $('#contact_group_form :input').serialize() + "&" +$('input:checkbox:checked.chk_box').serialize(),
          success: function(){
                   $('#rowclick1').html("<table><td class='ajax_loader' style='height:" + h + "px;'><img src='/images/ajax-loader.gif'/></td></table>");
                   $('#rowclick1').load(location + ' ' + '#rowclick1' );
               }
        });
      
      return false;
    });

    $('#contact_group_form input[name=new_group_name]').focus(function(){
      $('#contact_group_form input.rbtn[value=new]').prop('checked', true);
    });
  });
</script>