<%= form_for @group, :remote => true, :validate => true, :url => add_to_group_contact_groups_path(@contact_group) do |f| %>
<div id="contact_group_form" class="facebox_form">
  <div class="facebox_form">
  <% @contact_groups = ContactGroup.find_all_by_user_id(current_user) %>
  <table cellspacing="0" cellpadding="0">
    <tr class="add_radio">
    <% if @contact_groups.present? %>
      <td class="radio"><%= '<input class="rbtn" type="radio" name="group_type" value="existing" checked="checked" id="contact_existing_radio" />'.html_safe %></td>
      <td class="text"><%= "<span'> Select Group </span>".html_safe %></td>
      <td><%= select("group", 'id', @contact_groups.map { |u| [u.name, u.id] }) %></td>
    <% end %>
    </tr>
    <tr class="new_radio">
      <td class="radio">
        <input
        <% if !@contact_groups.present? %> <%= 'checked="checked"'.html_safe %>
        <% end %>
        class="rbtn" type="radio" name="group_type" value="new" id="contact_group_name_radio"/>
      </td>

      <td class="text"><span><label for="contact_group_name">New Group</label></span></td>
      <td><%= f.text_field :name, :validate => true %></td>
    </tr>
  </table>
  <div style="float:right">
    <%= f.submit "Add contacts", :id => "add_contact", :class => 'dark_button'  %>
  </div>
  </div>
</div>
<%end%>



<script type="text/javascript" >
  $(document).ready(function(){
    var param = $('input:checkbox:checked.chk_box').serialize();
    var s = $('.new_radio').html();
    var origValidators = window['new_contact_group']['validators']['contact_group[name]'];

    $('#add_contact').click(function() {
      var form = $('#new_contact_group');
      var fieldValidators = window['new_contact_group']['validators'];
      var groupNameField = $('#contact_group_name');

      groupNameField.data('changed', true);
      return form.isValid(fieldValidators);
    });

    var setupFormValidation = function(){
      var form = $('#new_contact_group');
      var fieldValidators = window['new_contact_group']['validators'];
      var elem = $('#contact_group_form tr input.rbtn:checked');
      var groupNameField = $('#contact_group_name');

      groupNameField.data('valid', true);
      groupNameField.data('changed', true);
      clientSideValidations.formBuilders['ActionView::Helpers::FormBuilder']
          .remove(groupNameField, fieldValidators);

      if (elem.val() === 'new') {
        fieldValidators['contact_group[name]'] = jQuery.extend(true, {}, origValidators);
        $('#contact_group_form input#contact_group_name').focus();
      } else {
        fieldValidators['contact_group[name]'] = new Object();
      }

      form.isValid(fieldValidators);
    };

    setupFormValidation();
    $('#contact_group_form tr input.rbtn').bind('click', setupFormValidation);

    $('#new_contact_group').bind('ajax:beforeSend', function(e, xhr, settings) {
      indicator_progress_in_facebox();
      settings.data += '&' + param;
      return true;
    });

    $('#contact_group_form input#contact_group_name').focus(function(){
      if ($('#contact_group_form input.rbtn[value=new]:checked').length == 0) {
      $('#contact_group_form input.rbtn[value=new]').attr('checked', true);
      setupFormValidation();
      }
    });
  });
</script>
