<div class="notification-header"></div>

<div class="notification-body">
  <h1><%= @post.title %> </h1>

  <div class="post">
    <div class="top">
      Posted <%= time_ago_in_words(@post.created_at) -%>  ago by <%= @post.user.try(:username) || "Campusmack Team" %>
      <br class="clear"/>
    </div>
    <% if @post.photo %>
        <%= link_to(@post.title, polymorphic_url([@post.postable, @post])) %>
        <div class="photo">
          <img src="<%= @post.photo.url(:large) %>" alt=""/>
        </div>
    <% end %>
    <%= link_to(@post.title, polymorphic_url([@post.postable, @post])) -%>
    <% if  @post.video %>
        <a href="<%= @post.video.url %>" style="color:white">.</a>
    <% end %>
    <br/>
    <%= @post.summary %>
  </div>
  <br/>
  <p><%= raw(@message.gsub(/\n/, '<br/>')) %></p>
</div>

<div class="notification-footer"></div>
