<div class="standard clearfix">
  <div class="title_wrapper clearfix">
    <div class="cont_title"><h1>Edit comment</h1></div>
  </div>
  <%= form_for @comment, :html => {:class => "semantic left_align"} do |f| %>
    <div class="field">
      <%= f.label :comment, 'Comment:' %>
      <%= f.text_area :comment, :class => "autosize", :cols => "76", :rows => "8" %></td>
    </div>

    <div class="field actions">
      <div class="blue_button"><%= f.submit "SUBMIT" %></div>
      <div class="blue_button"><%= button_to "DELETE", @comment, :method => :delete, :confirm => "Are you sure?" %></div>
    </div>
  <% end %>
</div>
