<div class="standard clearfix">
  <div class="title_wrapper">
    <h1>Campusmack Sign in</h1>
  </div>
  <div class="column_wrapper clearfix">
    <div class="left_column">
      <div class="title_box">
        <h2>SIGN IN TO CAMPUSMACK</h2>
      </div>
      <div class="form_container form_sign_in">
        <div class="form_wrapper">
          <%= form_for(resource, :as => resource_name, :url => new_session_path(resource_name)) do |f| %>
              <%= render 'shared/error_messages', :object => f.object %>
              <div class="table_padding">
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="description"><%= f.label :email, "Email:" %></td>
                    <td class="entry"><%= f.email_field :email %></td>
                  </tr>
                  <tr>
                    <td class="description"><%= f.label :password, "Password:" %></td>
                    <td class="entry"><%= f.password_field :password %></td>
                  </tr>
                </table>
              </div>
              <% if devise_mapping.rememberable? -%>
                  <div class="remember clearfix"><label for="remember_me"><%= f.check_box :remember_me %> Remember Me On This Computer</label></div>
              <% end -%>
              <%= render :partial => "users/shared/sign_in_links", :locals => {:resource_name => resource_name, :f => f} %>
              <div class="not_a_member_box">
                <div class="not_a_member clearfix">
                  <div class="not_a_member_text">NOT A MEMBER YET?</div>
                  <div class="sign_up_now_button">
                    <%= link_to "SIGN UP NOW!", sign_up_path %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="right_column sign_in_column">
      <%= render :partial => "users/shared/sign_up_services_list" %>
    </div>
  </div>
</div>
