<div class="content new_level with_submenu clearfix">
<div class="content_title">Authentication Services - Settings</div>
<div class="content_container">
  <div class="content_category">
<section id="services_manage" class="services">
  <% if @services.any? %>
      <h3>You can use these accounts to sign in</h3>
  <% end %>

  <% @services.each do |service| %>
      <div class="service_in_use round">
        <div class="service_img">
          <%= service_link(service.provider, 64, false) %>
        </div>

        <div class="service_userdata">
          <br/>
          <% if service.user %>
          <%= service.user %>
          <br/>
          <%= service.user.email %>
          <br/>
          <% end %>
          <% if session[:provider] == service.id %>
              <span>Signed in</span>
          <% else %>
              <%= link_to "Remove this service", service, :confirm => 'Are you sure you want to remove this authentication?', :method => :delete, :class => "remove" %>
          <% end %>
        </div>
      </div>
  <% end %>


  <div id="services_available">
    <h3>You can connect more accounts to sign in</h3>

    <ul id="services_list">
      <%- @available_services.each do |provider| %>
          <li><%= service_link(provider) %></li>
          <% end %>
    </ul>
  </div>
  <br style="clear:both" />
</section>
  </div>
</div>
</div>