<% @college = College.all %>

<tr>
  <td class="description"><%= f.label :username, "Username:" %></td>
  <td class="entry"><%= f.text_field :username %></td>
  <td class="star"><%= mark_required(resource, :username) %></td>
</tr>

<tr>
  <td class="description"><%= f.label :first_name, "Name:" %></td>
  <td class="entry"><%= f.text_field :first_name %></td>
  <td class="star"><%= mark_required(resource, :first_name) %></td>
</tr>

<tr>
  <td class="description"><%= f.label :affiliation, "Affiliation:" %></td>
  <td class="entry">
    <span class="affiliation_span"><%= f.select(:affiliation, %w{Student Alumni Fan}, {:include_blank => true}, :class => 'affilation') %></span>
    <span class="college_span">of <%= f.select(:college_id, @college.map { |a| [a.name, a.id] }, {:include_blank => true}, :class => 'college') %></span>
  </td>
  <td class="star"><%= mark_required(resource, :affiliation) %></td>
</tr>

<tr>
  <td class="description"><%= f.label :email, "Email:" %></td>
  <td class="entry"><%= f.text_field :email, :validate =>{:presence => true, :confirmation => true} %></td>
  <td class="star"><%= mark_required(resource, :email) %></td>
</tr>

<tr>
  <td class="description"><%= f.label :password, "Password:" %></td>
  <td class="entry"><%= f.password_field :password, :validate =>{:presence => true, :confirmation => true} %></td>
  <td class="star"><%= mark_required(resource, :password) %></td>
</tr>
