<h1><%= @user.username %> Posts</h1>
<%= render 'search_fields' %>
<% unless @posts.empty? %>
    <%= will_paginate @posts %>
    <ul class="posts">
      <%= render :partial => "/posts/post", :collection => @posts %>
    </ul>
<% end %>
<%= render 'shared/stats' %>
