<div class="content new_level with_submenu clearfix">
 <%= render :partial => 'shared/masthead' %>
  <div class="content_title">
    <%= @user.username %> Posts</div>
  <div class="content_stats clearfix">
    <ul class="inner_menu">
      <li>
        <%= link_to "#{@user.smacks.count} smacks", user_smacks_path(@user) %>
      </li>
      <li>
        <%= link_to "#{@user.redemptions.count} redemptions", user_redemptions_path(@user) %>
      </li>
    </ul>
    <%= render 'shared/search' %>
  </div>
  <div class="content_container">
    <div class="content_category">
    <%= render :partial => 'shared/sorter', :locals => { :infinite_scrolling => true } %>
      <% unless @posts.blank? %>
        <div id="posts" class="posts">
          <%= render :partial => "/posts/post", :collection => @posts %>
        </div>
      <% end %>

      <div id="posts_auto_scroll_indicator"></div>
      <div class="posts-auto-scroll auto-scroll">
        <%= next_page_paginate @posts %>
      </div>
    </div>
  </div>
</div>
