<table summary="Information about following/followers">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
      <% unless @users.empty? %>
          <ul class="users">
            <%= render @users %>
          </ul>
          <%= will_paginate @users %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.username %>
      <br/>
      <strong>URL</strong> <%= link_to user_path(@user), @user %>
      <br/>
      <ul class="inner_menu">
        <li>
          <%= link_to "#{current_user.following.count} following", following_user_path(current_user) %>
        </li>
        <li>
          <%= link_to pluralize(current_user.followers.count, "follower"), followers_user_path(current_user) %>
        </li>
      </ul>
      <ul class="inner_menu">
        <li>
          <%= link_to "#{current_user.smacks.count} smacks", smacks_user_path(current_user) %>
        </li>
        <li>
          <%= link_to "#{current_user.redemptions.count} redemptions", redemptions_user_path(current_user) %>
        </li>
      </ul>
      <% unless @users.empty? %>
          <% @users.each do |user| %>
              <%= link_to gravatar_for(user, :size => 30), user %>
          <% end %>
      <% end %>
    </td>
  </tr>
</table>