<div class = "colleges">Click On A Campus Below</div><br>
<% @colleges.each do |college| %>
<%= link_to college.name, "/users/#{@user.id}/colleges/#{college.id}" %><br>
<% end %>
<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
<h1 class = "user">
<%= @user.username %> Posts	
<% #gravatar_for @user %>
<% #@user.name %>
</h1>
<table class="masthead">
<tr>
		<td>
			<%= link_to "Videos", user_path(@user, :content_type => "Video")%> 
			| <%= link_to "Photos", user_path(@user, :content_type => "Photo") %> 
			| <%= link_to "News"%> 
			| <%= link_to "Stats" %>
		</td>
</tr>
</table>

<% unless @user.posts.empty? %>
  <table class="post" summary="User posts">
	<%= render :partial => "/posts/post", :collection => @posts %>
	</table>
	<%= will_paginate @posts %>
	<% end %>
</td>
<!--Commenting out Stat sidebar

<td class="sidebar round">
	<strong>Name</strong> <%= @user.name %> <br />
	<strong>URL</strong> <%= link_to user_path(@user), @user %>
	<strong>Microposts</strong> <%= @user.microposts.count %>
	<%= render 'shared/stats' %>
	</td> 
	-->
  </tr>
</table> 
