<div class="content new_level with_submenu clearfix">
 <%= render :partial => 'shared/masthead' %>
  <div class="content_title">
		<%= @user.username %> Posts</div>
  <div class="content_stats clearfix">
    <ul class="inner_menu">
      <li>
        <%= link_to "#{@user.smacks.count} smacks", user_smacks_path(@user) %>
      </li>
      <li>
        <%= link_to "#{@user.redemptions.count} redemptions", user_redemptions_path(@user) %>
      </li>
    </ul>
    <%= render 'shared/search' %>
  </div>
  <div class="content_container">
    <div class="content_category">
      <% unless @posts.blank? %>
		<div class="user_paginate">
        <%= custom_paginate @posts %>
		</div>
        <ul class="posts">
          <%= render :partial => "/posts/post", :collection => @posts %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
