<div class = "colleges">Click On Your Campus Below</div>
<% @colleges.each do |college| %>
<%= link_to college.name, "/users/#{@user.id}/colleges/#{college.id}" %><br>
<% end %>
<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>

<% unless @user.posts.empty? %>
  <table class="posts" summary="User posts">
	<%= render :partial => "/posts/post", :collection => @posts %>
	</table>
	<%= will_paginate @posts %>
	<% end %>
</td>
<!--Commenting out Stat sidebar

<td class="sidebar round">
	<strong>Name</strong> <%= @user.name %> <br />
	<strong>URL</strong> <%= link_to user_path(@user), @user %>
	<strong>Microposts</strong> <%= @user.microposts.count %>
	<%= render 'shared/stats' %>
	</td> 
	-->
  </tr>
</table> 
