<div class="inbox_table">
  <div class="thh clearfix">
    <div class="black colname"><%= conference.name %></div>
    <div class="smcount">S</div>
    <div class="redcount">R</div>
  </div>

  <% conference.colleges.limit(limit).order('smacks_count desc').each do |college| %>
      <div class="cell clearfix"> <%# FIXME add noborder class to the last item %>
        <div class="black colname"><%= link_to college.abbrev, college %></div>
        <div class="green smcount"><%= college.smacks_count %></div>
        <div class="red redcount"><%= college.redemptions_count %></div>
      </div>
  <% end %>
  <% if limit %>
      <div class="stat_center">
        <%= link_to 'FULL LIST >>', "/conference_stats##{conference.id}", :class => :text_center %>
      </div>
  <% end %>
</div>
