<div class="content new_level with_submenu clearfix">
  <%= render :partial => 'shared/masthead' %>
  <div class="content_title"><%= @conference.name %></div>
  <div class="content_stats clearfix">
    <%= render 'shared/photovideomenu' %>
    <%= render 'shared/search' %>
  </div>
  <% unless @posts.empty? %>
      <div class="content_container">
        <div class="content_category">
          <%= render :partial => 'shared/sorter', :locals => { :infinite_scrolling => false } %>
          <div class="category_container clearfix">
            <%= custom_paginate @posts %>
            <%= render :partial => "/posts/post", :collection => @posts %>
            <div class="view_more_link clear_both">
              <a href="">See all videos</a>
            </div>
          </div>
        </div>
        <div class="category_container">
          <div class="content_category">
            <div class="category_title">
              Photos
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
