<% if @main_menu %>
<div class="top_submenu clearfix">
  <ul>
    <% logger.info @main_menu.inspect %>
    <% @main_menu.each do |type, text, link, aclass| %>
      <li class="<%= aclass %>">
        <% if type == :text %>
          <b><%= text %></b>
        <% else %>
          <%= link_to(text, link) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
<% if @parent %>
  <div class="content_actions">
    <ul>
      <li class="dark_button"><%= link_to "Add Smack", @parent.is_a?(College) ? new_college_smack_path(@parent) : new_conference_smack_path(@parent) %></li>
      <li class="dark_button"><%= link_to 'Add Redemption', @parent.is_a?(College) ? new_college_redemption_path(@parent) : new_conference_redemption_path(@parent) %></li>
    </ul>
  </div>
<% end %>
