<% if @main_menu %>
<div class="top_submenu clearfix">
  <ul>
    <% logger.info @main_menu.inspect %>
    <% @main_menu.each do |type, text, link, aclass| %>
      <li class="<%= aclass %>">
        <% if type == :text %>
          <b><%= text %></b>
        <% else %>
          <%= link_to(text, link) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
<% if @parent.is_a?(College) || @parent.is_a?(Conference) || @parent.is_a?(Blog) %>
  <div class="content_actions">
    <ul>
      <% if can? :create, ArticlePost %>
        <li class="dark_button"><%= link_to "Add Article", new_college_article_path(@parent) if @parent.is_a?(College) %></li>
        <li class="dark_button"><%= link_to "Add Article", new_conference_article_path(@parent) if @parent.is_a?(Conference) %></li>
	    <li class="dark_button"><%= link_to "Add Article", new_blog_article_path(@parent) if @parent.is_a?(Blog) %></li>
      <% end %>
      <li class="dark_button"><%= link_to "Add Smack", new_college_smack_path(@parent) if @parent.is_a?(College)%></li>
      <li class="dark_button"><%= link_to "Add Smack", new_conference_smack_path(@parent) if @parent.is_a?(Conference)%></li> 
	  <li class="dark_button"><%= link_to "Add Redemption", new_college_redemption_path(@parent) if @parent.is_a?(College)%></li>
      <li class="dark_button"><%= link_to "Add Redemption", new_conference_redemption_path(@parent) if @parent.is_a?(Conference)%></li>
    </ul>
  </div>
<% end %>
