<div class="section">
  <div class="section_title">
    <%= link_to censoring(truncate(sotw.try(:title), :length => 20)), [sotw.postable, sotw] %>
  </div>
  <div class="section_undertitle">
    COLLEGE SMACKED: <%= link_to sotw.postable.name.upcase, sotw.postable, :class => :section_link %>
  </div>
  <div class="img_section photo_box">
    <% if sotw.photo %>
      <a class="photo" href="<%= sotw.photo_url(:large) %>"><%= image_tag sotw.photo_url(:medium) %></a>
    <% end %>
    <% if sotw.video %>
      <%= youtube_embed(sotw.video.url, :medium) %>
    <% end %>
    <%= link_to "Article Preview", sotw.news_post.url, :class => 'snap_shots' unless sotw.news_post.blank? %>
  </div>
  <div class="img_title">
    <%= sotw.created_at.to_date.to_s(:long) %> by <%= link_to(truncate(sotw.user.try(:username), :length => 16), sotw.user) %>
  </div>
  <%=link_to sotw, :class => "divwrap" do %>
  <div class="content_text">
    <%= truncate(censoring(sotw.summary), :length => 70) %>
  	<% if sotw.summary.empty?%>
	  <span>[comments]</span>
	  <% end %>
  </div>
  <% end %>
  <div class="content_share">
    <%= share_and_voting_icons(sotw, :post) %>
  </div>
</div>