<h1>Smack of the week</h1>
<div id="smack_of_the_week" class="post">
  <% if signed_in? %>
      <div class="actions">
        <%= link_to('Edit', '/'+@sotw.type.downcase+'s/'+@sotw.id.to_s+'/edit', :class => 'button') if can? :update, @sotw %>
        <%= link_to('Delete', @sotw, :method => :delete, :confirm => "Delete post?", :class => 'button') if can? :destroy, @sotw %>
      </div>
  <% end %>
  <h4><%= link_to @sotw.title, [ @sotw.postable, @sotw ] %></h4>
  <% if @sotw.photo %>
      <div class="photo_post">
        <a class="photo snap_noshots" href="<%= @sotw.photo.url(:large) %>"><img src="<%= @sotw.photo.url(:medium) %>" alt=""/></a>
      </div>
  <% end %>
  <% if @sotw.video %>
      <div class="video_post"><%= youtube_embed(@sotw.video.url) %></div>
  <% end %>
  <%= link_to "News post", @sotw.news_post.url unless @sotw.news_post.blank? %>
  <div class="comments">
    <%= @sotw.summary %>
    <% if @sotw.summary && params[:controller] != 'posts' %>
        <%= link_to " [more...]", [ @sotw.postable, @sotw ] %>
    <% end %>
  </div>
  <%= vote_buttons(@sotw) %>
  <br class="clear"/>

  <div class="timestamp">
    posted <%= time_ago_in_words(@sotw.created_at) %> ago by <%= @sotw.user.try(:username) %>.
  </div>
</div>
<br/>