<div class="content standard clearfix">
  <div class="content_title"><h1>Smacks of the Week</h1></div>
  <div class="content_subtitle">
    <%= render :partial => 'shared/search' %>
  </div>

  <div class="content_container clearfix">
    <div class="new_line"></div>
    <div class="section">
      <div class="section_title">
        <%= link_to @sotw.title, [@sotw.postable, @sotw] %>
      </div>
      <div class="section_undertitle">
        COLLEGE SMACKED: <%= link_to @sotw.postable.name.upcase, @sotw.postable, :class => :section_link %>
      </div>
      <div class="img_section">
        <% if @sotw.photo %>
            <img src="<%= @sotw.photo.url(:medium) %>" alt="" class="img"/>
        <% end %>
        <% if @sotw.video %>
            <%= youtube_embed(@sotw.video.url, :medium) %>
        <% end %>
        <%= link_to "News post", @sotw.news_post.url, :class => 'snap_shots' unless @sotw.news_post.blank? %>
      </div>
      <div class="img_title">
        <%= @sotw.created_at.to_date.to_s(:long) %> by <%= link_to(@sotw.user.try(:username), @sotw.user) %>
      </div>
      <div class="content_text">
       <%= @sotw.summary %>
      </div>
      <div class="content_share">
        <%= share_icons(@sotw, :post) %>
      </div>
    </div>
  </div>
</div>
