<div class="content_header ">
  <div class="content_title">SMACKS OF THE WEEK</div>
  <div class="content_stats clearfix">
    <div class="search">
      <form action="#" method="post">
        <label for="input_search">Search:</label>
        <input type="text" name="q" class="input_search" id="input_search"/>
        <input type="submit" value="Go" class="button blue"/>
      </form>
    </div>
  </div>

  <div class="content_container clearfix">
    <div class="new_line"></div>
    <div class="section">
      <div class="section_title">
        <%= link_to @sotw.title, [@sotw.postable, @sotw] %>
      </div>
      <div class="section_undertitle">
        COLLEGE SMACKED: <%= link_to @sotw.postable.name.upcase, @sotw.postable, :class => :section_link %>
      </div>
      <div class="img_section">
        <% if @sotw.photo %>
            <a class="photo snap_noshots" href="<%= @sotw.photo.url(:large) %>"><img src="<%= @sotw.photo.url(:medium) %>" alt="" class="img"/></a>
        <% end %>
        <% if @sotw.video %>
            <%= youtube_embed(@sotw.video.url) %>
        <% end %>
        <%= link_to "News post", @sotw.news_post.url unless @sotw.news_post.blank? %>
      </div>
      <div class="img_title">
        <%= @sotw.created_at.to_date.to_s(:long) %> by <%= link_to(@sotw.user.try(:username), @sotw.user) %>
      </div>
      <div class="content_text">
        Praesent dui sapien, accumsan sed fermentum in, facilisis eu sem. Ut varius porttitor ac sed dolor.
        Pellentesque
        et sem nec metus auctor bibendum in eget odio.
      </div>
      <div class="content_share">
        <a href="#" class="mail"></a>

        <a href="#" class="content_fb"></a>
        <a href="#" class="content_tw"></a>
        <%= link_to 'Read more', @sotw, :class => 'read_more' %>

      </div>
    </div>
  </div>
</div>