<% meta_tags({ "description" => @page_description}) -%>
<% content_for :js do %>
  var campus_select = null;
  var post_popup_to = null;
  var college_preloading = false;
  var popup_html = "<div id=\"add_post_popup\"><h2></h2><div class=\"blue_button\"><a href=\"/\" data-after=\"/smacks/new\" data-before=\"/colleges/\" id=\"add_post_select_link\">Add</a></div></div>";
  function update_popup_link() {
    apsl = $("#add_post_select_link");
    apsl.attr("href", apsl.data("before") + $("#add_post_select").val() + apsl.data("after"));
  }
  function show_post_popup(type) {
    jQuery.facebox(popup_html);
    $("#add_post_popup h2").html("Select Campus to add " + type.charAt(0).toUpperCase() + type.slice(1) + " to");
    $("#add_post_popup h2").append("<br /><br />").append(campus_select).append("<br /><br />");
    $("#add_post_popup a").data("after","/" + type + "s/new");
    update_popup_link();
  }
  function try_show_post_popup(type) {
    if (campus_select != null) {
      show_post_popup(type)
    } else {
      if (college_preloading != true) {
        college_preloading = true;
        $.ajax({url: "/smacks/new"});
      }
      jQuery.facebox.loading();
      clearTimeout(post_popup_to);
      post_popup_to = setTimeout("try_show_post_popup(\"" + type + "\")", 500);
    }
  }
<% end %>
<% content_for :jq do %>
  $("#add_post_select").live("change",function(){
    update_popup_link();
  });
  <% if current_user %>
    college_preloading = true;
    $.ajax({url: "/smacks/new"});
  <% end %>
  $("#add_smack_btn").click(function(e){
    e.preventDefault();
    try_show_post_popup("smack");
  });
  $("#add_redemption_btn").click(function(e){
    e.preventDefault();
    try_show_post_popup("redemption");
  });
<% end %>
<% content_for :above do %>
  <div class="stat_title">CONFERENCE STATISTICS</div>
  <div id="stats_widget" class="table new_level clearfix">
    <div id="stats_container" class="table_middle">
      <% Conference.where(:division => Division.default).order('name asc').each do |conference| %>
        <%= render :partial => 'conferences/stats_widget', :locals => { :conference => conference, :limit => 3 } %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="content standard clearfix">
  <div class="content_actions_home">
  <div class="content_actions">
    <ul>
      <li class="dark_button"><%= link_to "Add Smack", root_path, :id => "add_smack_btn" %></li>
      <li class="dark_button"><%= link_to 'Add Redemption', root_path, :id => "add_redemption_btn" %></li>
    </ul>
  </div>
</div>
  <div class="content_stats">
    <ul class="inner_menu">
      <li>
        <%= link_to "All posts", posts_path %>
      </li>
    </ul>
    <%= render :partial => 'shared/search' %>
  </div>

    <div class="most_smacked">
	 <div class="most_smacked_header"><h2>Most Smacked</h2></div>
     <%=link_to @colleges.first, :class => "divwrap" do %>
    <div class="most_smacked_title"><h3><strong><%= @colleges.first.try(:name) %>:
	</strong></h3></div>
	
	<div class="most_smacked_number"><h3><%= @colleges.first.try(:smacks_count) %>&nbsp;</h3></div>
	  <% end %>
	
  </div>
  <% if @featured_articles.any? %>
    <div class="college_content_title"><h2>Featured Articles</h2></div>
    <div class="separator_line"></div>
    <div class="content_container clearfix">
      <div class="new_line"></div>
      <ul class="items featured_articles">
        <% @featured_articles.each do |post| %>
          <%= render "posts/articles_preview", :post => post %>
        <% end %>
      </ul>
		<div class="vml_welcome clear_both">
          <%= link_to "See all Articles", article_posts_path %>
        </div>
    </div>
  <% end %>
  <% if @sotw %>
  <div class="college_content_title"><h2>Smacks of the Week</h2></div>
    <div class="separator_line"></div>
  <div class="content_container clearfix">
    <div class="home_smacks_of_week">
    <%= render :partial => 'sotw', :collection => @sotw %></div>
  </div>
		<div class="vml_welcome clear_both">
        <%= link_to "See all Smacks", smacks_path %>
      </div>
  </div>
  <% end %>

  <div class="college_content_title"><h2>Recent Posts</h2></div>
   <div class="separator_line space"></div>
    <div class="content_container clearfix">
	 <br>
	 <ul class="items four_col_view_welcome">
      <% @home_list.each do |post| %>
      <%= render "posts/small_preview", :post => post %>
	  <% end %>
	 </ul>
	 </div>
		<div class="vml_welcome clear_both">
          <%= link_to "See all Posts", posts_path %>
        </div>
		<br><br>
  </div>