<%= form_for(@contact_groups_contact) do |f| %>
  <% if @contact_groups_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_groups_contact.errors.count, "error") %> prohibited this contact_groups_contact from being saved:</h2>

      <ul>
      <% @contact_groups_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br />
    <%= f.text_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :contact_group_id %><br />
    <%= f.text_field :contact_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
