<h1>Listing contact_groups_contacts</h1>

<table>
  <tr>
    <th>Contact</th>
    <th>Contact group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_groups_contacts.each do |contact_groups_contact| %>
  <tr>
    <td><%= contact_groups_contact.contact_id %></td>
    <td><%= contact_groups_contact.contact_group_id %></td>
    <td><%= link_to 'Show', contact_groups_contact %></td>
    <td><%= link_to 'Edit', edit_contact_groups_contact_path(contact_groups_contact) %></td>
    <td><%= link_to 'Destroy', contact_groups_contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact groups contact', new_contact_groups_contact_path %>
