<% @contacts.each do |contact| %>
    <tr id="<%= contact.id %>" class="tr">
      <td class="table_preloader">
        <span class="image_load" id="img<%= contact.id %>"><%= image_tag('ajax-cb-loader.gif') %></span>
      </td>
      <td class="table_check">
        <input class="chk_box" type="checkbox" value="<%= contact.id %>" name="cb[]"></input></td>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td class="row_actions"><%= link_to 'Edit', edit_contact_path(contact), :class => "table_button black edit", :remote => true %></td>
    </tr>
<% end %>