<div class="content contacts">
  <div class="content_title"><h1>Contacts<%= " (#{@group.name})" if @group.name != "All" %></h1></div>
  <div class="content_actions">
    <ul>
      <li class="ajax"><img src='/images/ajax-loader.gif'/></li>
      <li class="dark_button"><%= link_to 'New Contact', new_contact_path(:group_id => params[:group_id]), :remote => true, :class => "new" %></li>
      <li class="dark_button"><%= render :partial => 'contacts/import_form' -%></li>
    </ul>
  </div>
  <div class="content_container">
    <div class="contacts_items_per_page clearfix">
      <ul>
        <%=items_per_page([200,100,50,25])%>
      </ul>
      <div class="contacts_items_per_page_text"><span>|</span> Items per page:</div>
    </div>
    <div class="content_categories">
      <div class="contacts_table">
        <ul class="contact_groups">
          <li<%= ' class="active"'.html_safe if @group.name == 'All' %>>
            <%= link_to_unless(@group.name == 'All', 'All', contacts_path(:per => params[:per])) do %>
                <span>All</span>
            <% end %>
          </li>
          <% @contact_groups.each do |contact_group| %>
          <% if @group.id == contact_group.id%>
              <li class="active">
                <%= link_to_unless_current(contact_group.name, contacts_path(:group_id=>contact_group.id, :page => params[:page], :per => params[:per])) do %>
                    <span><%= contact_group.name %></span>
                <% end %>
              </li>
          <% else %>
              <li>
                <%= link_to_unless_current(contact_group.name, contacts_path(:group_id=>contact_group.id, :per => params[:per])) do %>
                    <span><%= contact_group.name %></span>
                <% end %>
              </li>
          <% end %>
          <% end %>
          <li class="add_edit_group clearfix"><a href="<%=contact_groups_path%>" data-remote="true">Edit / Add groups<span class="ajax" style="display: none;"><img src='/images/ajax-cb-loader.gif'/></span></a></li>
        </ul>
        <div class="table_content">
          <div class="table_head">
            <div class="button_bg table_button">
              <input type="checkbox" value="0" name="cb" class="select_all" id="select_all_chk_box"/>
            </div>
            <ul class="table_actions" style="list-style-type: none;float:left">
              <li><%= link_to("Add To Group", add_to_group_form_contact_groups_path(@contact), :method => "GET", :remote => true, :class => "table_button", :id => "add_to_group_button") %></li>
              <li id="delete_selected" class="table_button fakebtn">Delete selected</li>
              <% if !params[:group_id].blank? && ContactGroup.exists?(params[:group_id]) == true %>
              <li id="remove_selected" class="table_button fakebtn" rel="remove<%=params[:group_id]%>">Remove selected</li>
              <%end%>
           </ul>

           <%= form_tag contacts_path(:per => params[:per],:group_id => params[:group_id]), :method => 'get', :id => 'search_contacts', :remote => true do %>
           <ul class="clearfix">
              <li>
                  <%= text_field_tag :search, params[:search], :class => 'search_input'%>
                  <%= submit_tag "Filter", :name => nil, :class => 'table_button fakebtn' %>
              </li>
              <li><%= link_to "Show All", "", :name => nil, :class => 'table_button fakebtn clear_contacts' %></li>
            </ul>
           <% end %>
          </div>
          <div id="contact_list">
            <table id="rowclick1">
              <%= render :partial => "contacts" %>
            </table>
          </div>
          <input type="hidden" name="groupname" value="<%= @group.name %>"/>
        </div>
      </div>
      <div class="pagination" id="pagination_container">
        <%= will_paginate @contacts %>
      </div>
    </div>
  </div>
</div>
<%=  hidden_field_tag :page, :value => params[:page]%>
<%=  hidden_field_tag :per, :value => params[:per]%>
