<h1>Listing contacts</h1>

<table>
  <tr >
    <td style="padding-right: 10px;padding-left: 10px; margin-top: 2px;vertical-align: top; margin: 10px">
      <% @contact_groups = ContactGroup.find_all_by_user_id(current_user)  %>
      <ul style=" background-color: #EEEEEE;">
        <li><%= link_to('All', contacts_path(),:method => "GET", :remote => false) %></li>
        <% @contact_groups.each do |contact_group|   %>
          <li>
            <%= link_to(contact_group.name, contacts_path(:id=>contact_group.id),:method => "GET", :remote => false) %>
              <%#= contact_group.name %>
          </li>
        <% end %>
      </ul>
    </td>
    <td>
      <table>

        <tr>
          <th style="padding-right: 10px;padding-left: 10px;" ><!--input type="checkbox" value="0" name="cb" ></input--></th>
          <th style="padding-right: 10px;padding-left: 10px;" >Name</th>
          <th style="padding-right: 10px;padding-left: 10px;" >Email</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @contacts.each do |contact| %>
          <tr>
            <td style="padding-right: 10px;padding-left: 10px;" > <input class="chk_box" type="checkbox" value="<%= contact.id %>" name="cb[]" ></input> </td>
            <td style="padding-right: 10px;padding-left: 10px;" ><%= contact.name %></td>
            <td style="padding-right: 10px;padding-left: 10px;" ><%= contact.email %></td>
            <td></td>
            <td style="padding-right: 10px;padding-left: 10px;" ><%= link_to 'Show', contact %></td>
            <td style="padding-right: 10px;padding-left: 10px;" ><%= link_to 'Edit', edit_contact_path(contact) %></td>
            <td style="padding-right: 10px;padding-left: 10px;" ><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>

      </table>
      <br />

      <%= link_to 'New Contact', new_contact_path %>
    </td>
    <td style="vertical-align: top;margin: 20px;" ><%= link_to("Add To Group", add_to_group_form_contact_groups_path(@contact), :method => "GET", :remote => true) %></td>
  </tr>
</table>


