<%= render 'shared/masthead1' %>
<h1><%= @college.name %></h1>
<%= render 'masthead' %>


		<% if signed_in? %>
		<%= link_to "Add a Smack", new_user_college_smack_path(@user, @college), :method => :get, :class => "button" %>    
		<%= link_to "Add a Redemption", new_user_college_redemption_path(@user, @college), :method => :get, :class => "button" %><br>
	   <% else %>
			<%= link_to "Add a Smack", signin_path, :method => :get, :class => "button" %>
			<%= link_to "Add a Redemption", signin_path, :method => :get, :class => "button" %>
	   <% end %><br>

	
	<%= form_for @search, :url => college_path, :html => {:method => :get} do |f| %>
	  <%= f.label :search %>
	  <%= f.text_field :title_or_post_summary_contains %>
	  <%= f.submit "Go!", :name =>nil %>
	<% end %>
	
<% unless @college.posts.empty? %>
  <table class="post" summary="User microposts">

	<%= render :partial => "/posts/post", :collection => @posts %>
	</table>
	<%= will_paginate @posts %>
	<% end %>
