<div class="content new_level with_submenu">
  <%= render :partial => 'shared/masthead' %>
  <div class="content_title"><%= @college.name %></div>
  <div class="content_stats">
    <%= render 'shared/counts' %>
    <%= render 'shared/search' %>
  </div>

  <div class="content_container">
    <div class="photovideo">
      <% if @articles.any? %>
        <div class="college_content_title"><h2>Featured Articles</h2></div>
        <div class="separator_line"></div>
        <div class="category_container">
          <div class="content_category">
            <ul class="items articles">
              <% @articles.each do |post| %>
                <%= render "posts/articles_preview", :post => post %>
              <% end %>
            </ul>
            <div class="view_more_link clear_both">
              <%= link_to "See all articles", polymorphic_path([ @parent, :articles ]) %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="college_content_title"><h2>User Posts</h2></div>
	  <div class="separator_line"></div>
	  <div class="category_container">
        <div class="content_category ">
          <div class="category_title">
            Memes
          </div>
          <ul class="items four_col_view">
            <% @photos.each do |post| %>
                <%= render "posts/small_preview", :post => post %>
            <% end %>
          </ul>
          <div class="view_more_link clear_both">
            <%= link_to "See all Memes", polymorphic_path([ @parent, :photos ]) %>
          </div>
        </div>
      </div>
      <div class="category_container">
        <div class="content_category ">
          <div class="category_title">
            Videos
          </div>
          <ul class="items four_col_view">
            <% @videos.each do |post| %>
                <%= render "posts/small_preview", :post => post %>
            <% end %>
          </ul>
          <div class="view_more_link clear_both">
            <%= link_to "See all Videos", polymorphic_path([ @parent, :videos ]) %>
          </div>
        </div>
      </div>

      <div class="category_container">
        <div class="content_category">
          <div class="category_title">
            News
          </div>
          <ul class="items">
            <% @news.each do |post| %>
              <%= render "posts/post", :post => post %>
            <% end %>
          </ul>
          <div class="view_more_link clear_both">
            <%= link_to "See all news", polymorphic_path([ @parent, :news_index ]) %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
