<div class="content new_level with_submenu">
  <%= render :partial => 'shared/masthead' %>
  <div class="content_title"><%= @college.name %></div>
  <div class="content_stats">
    <%= render 'shared/counts' %>
    <%= render 'shared/search' %>
  </div>

  <div class="content_container">
    <div class="photovideo">
      <h3 class="content_title">Articles</h3>
      <div class="category_container">
        <div class="content_category">
          <ul class="items articles">
            <% @articles.each do |post| %>
              <%= render "posts/articles_preview", :post => post %>
            <% end %>
          </ul>
          <div class="view_more_link clear_both">
            <%= link_to "See all articles", polymorphic_path([ @parent, :articles ]) %>
          </div>
        </div>
      </div>
      <h3 class="content_title">User Posts</h3>
      <div class="category_container">
        <div class="content_category">
          <div class="category_title">
            Videos
          </div>
          <ul class="items">
            <% @videos.each do |post| %>
                <%= render "posts/small_preview", :post => post %>
            <% end %>
          </ul>
          <div class="view_more_link clear_both">
            <%= link_to "See all videos", polymorphic_path([ @parent, :videos ]) %>
          </div>
        </div>
      </div>
      <div class="category_container">
        <div class="content_category">
          <div class="category_title">
            Photos
          </div>
          <ul class="items">
            <% @photos.each do |post| %>
                <%= render "posts/small_preview", :post => post %>
            <% end %>
          </ul>
          <div class="view_more_link clear_both">
            <%= link_to "See all photos", polymorphic_path([ @parent, :photos ]) %>
          </div>
        </div>
      </div>
      <div class="category_container">
        <div class="content_category">
          <div class="category_title">
            News
          </div>
          <ul class="items">
            <% @news.each do |post| %>
              <%= render "posts/news_preview", :post => post %>
            <% end %>
          </ul>
          <div class="view_more_link clear_both">
            <%= link_to "See all news", polymorphic_path([ @parent, :news_index ]) %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
