<%= render 'shared/search_fields' %>
<h1><%= @college.name %></h1>
<%= render :partial => 'shared/masthead' %>
<br class="clear"/>
<% unless @posts.empty? %>
    <%= will_paginate @posts %>
    <ul class="posts">
      <%= render :partial => "/posts/post", :collection => @posts %>
    </ul>
<% end %>