<ul>
		<td class ="post", id = "title"><%= link_to redemption.title, "/redemptions/#{redemption.id}" %> <%= redemption.type %>
		</td>
		<tr>
			<td>
				<% unless redemption.photo_file_name.nil? %>
				<span class = "photo"><%= image_tag redemption.photo.url(:medium), %></span>
				<% end %>
				<span class="content"><%= youtube_embed(redemption.content).html_safe %></span>
				<br>	
					<span class="timestamp">
								Posted <%= time_ago_in_words(redemption.created_at) %> ago by 
								<% if !redemption.user_id.nil? %>
								<%= User.find(redemption.user_id).username %>
								<% else %>
								 @Campusmack
								<% end %>.
						</span>
			</td>	
			<td>
				<span class="comments"><%= redemption.comments %>
				<% if request.fullpath =~ /colleges/ && !redemption.comments.nil? %>
					<%= link_to " [more...]", "/redemptions/#{redemption.id}" %>
				<% end %></span>
			</td>
			<td width = 10%>		
				<span class = "vote">Total Votes: <%= redemption.vote %></span>
			</td>		
				<td width = 5%>
									<% if signed_in? %>
									<% if redemption.user_id == current_user.id || current_user.admin? %>
									<%= button_to "edit",  edit_redemption_path(redemption), :method => :get %>
									<%= button_to "delete", redemption, :method => :delete,
																	 :confirm => "You sure",
																	 :title => redemption.content %>
									<% end %>
									<% end %>
					</td>								
			</tr>
</ul>