<li id="post_<%= post.id %>">
  <h4><%= link_to post.title, "/colleges/#{post.college_id}/posts/#{post.id}" %></h4>
  <% unless post.photo_file_name.nil? %>
      <div id="photo_post" class="photo">
		<a class="photo" href="<%= post.photo.url(:large) %>"><img src="<%= post.photo.url(:medium) %>" alt=""/></a>
      </div>
  <% end %>
  <div class="content"><%= youtube_embed(post.content) %></div>
  <div class="comments"><%= post.post_summary %>
    <% if !post.post_summary.nil? && !request.fullpath.include?("posts") %>
        <%= link_to " [more...]", "/colleges/#{post.college_id}/posts/#{post.id}" %>
    <% end %>
  </div>
  <% if signed_in? %>
      <% if post.user_id == current_user.id || current_user.admin? %>
          <div class="actions">
            <%= link_to 'Edit', '/'+post.type.downcase+'s/'+post.id.to_s+'/edit', :class => 'button' %>
            <%= link_to image_tag('delete.png'), post, :method => :delete, :confirm => "Delete Post?" %>
          </div>
      <% end %>
  <% end %>
  <%= vote_buttons(post) %>
  <br class="clear"/>

  <div class="timestamp">
    posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.try(:username) %>.
  </div>
  <br class="clear"/>
</li>