<div class="content_unit2 clearfix">
  <div class="preview">
    <% if post.photo || (post.article && post.article.image.exists?) %>
      <a class="photo" href="<%= post.photo_url(:large) %>"><img src="<%= post.photo_url(:medium) %>" width="180" alt=""/></a>
    <% end %>
    <% if post.news_post %>
       <% if post.news_post.image_file_name.blank? %>
        <%= image_tag('no_photo_small.jpg') %>
      <% else %>
        <a class="photo" href="<%= post.news_post.image_url(:large) %>"><img src="<%= post.news_post.image_url(:medium) %>" width="180" alt=""/></a>
      <% end %>
    <% end %>
    <%= youtube_thumbnail(post.youtube_thumbnail_url,[post.postable, post]) if post.video || (post.article && !post.article.video_url.blank?) %>
    <% if post.news_post && !post.news_post.video_url.blank? %>
        <%= youtube_embed(post.news_post.video_url) %>
    <% end %>
  </div>
  <div class="title">
<<<<<<< HEAD
   <%= link_to censoring(post.title), [post.postable, post] %>
    <% if can? :manage, Article and !post.published?%>
=======
    <%= link_to censoring(post.title), [post.postable, post] %>
    <% if can? :manage, Article and !post.published? %>
>>>>>>> 2e39f51626a8f1fafaa75ecab5480aace06fe1b6
      <span style="color:red">Unpublished</span>
    <% end %>
  </div>
  <div class="unit_info">
    Posted
    <span class="date"><%= formatted_datetime(post.created_at) %></span>
    <span class="by">by:</span>
    <%= link_to(truncate(post.user.try(:username), :length => 16), post.user, :class => :author) %>
  </div>
  <div class="description">
<<<<<<< HEAD
    <%= link_to "Article Preview", post.news_post.url, :class => 'snap_shots' unless post.news_post.blank? %>
    <%= post.summary %>
=======
   <p> <%= link_to "Article Preview", post.news_post.url, :class => 'snap_shots' unless post.news_post.blank? %>
    <%= truncate(censoring(post.summary), :length => Post::MAX_TEXT_LEN) %></p>
>>>>>>> 2e39f51626a8f1fafaa75ecab5480aace06fe1b6
  </div>
  <div class="actions">
    <%= share_and_voting_icons(post, :post) %>
    <% if signed_in? %>
        <span class="divider_vert2">&nbsp;</span>
        <%= link_to('<img src="/images/edit_.png" alt="Edit" />'.html_safe, method("edit_#{post.postable_type.downcase}_#{post.type.tableize.singularize}_path").call(post.postable, post), :class => 'button') if can? :update, post %>
        <%= link_to('<img src="/images/delete_.png" alt="Delete" />'.html_safe, post, :method => :delete, :confirm => "Delete Post?", :class => 'button') if can? :destroy, post %>
        <%= link_to('<img src="/images/report_.png" alt="Report" />'.html_safe, report_post_path(post), :class => 'button postreport', :id => "post_rep_#{post.id}") if can? :report, post %>
    <% end %>
  </div>
</div>
