<ul>
	<td class ="post", id = "title"><%= link_to post.title, "/colleges/#{post.college_id}/posts/#{post.id}" %> 
	</td>
	<tr>
		<td>
			<% unless post.photo_file_name.nil? %>
			<span class = "photo"><%= image_tag post.photo.url(:medium), %></span>
			<% end %>
			<span class="content"><%= youtube_embed(post.content).html_safe %></span>
			<br>	
				<span class="timestamp">
					posted <%= time_ago_in_words(post.created_at) %> ago.
					</span>
		</td>	
		<td>
			<span class="comments"><%= post.post_summary %>
			<% if !post.post_summary.nil? && !request.fullpath.include?("posts") %>
				<%= link_to " [more...]", "/colleges/#{post.college_id}/posts/#{post.id}" %>
			<% end %></span>
		</td>
		<td width = 10%>
			<% if signed_in? %>
			<span class = "vote"><%= button_to "Vote Up" %></span><br>		
			<span class = "vote">Total Votes: <%= post.up_votes %></span><br>
			<span class = "vote"><%= button_to "Vote Down"%></span>
			<% else %>
			<span class = "vote">Total Votes: <%= post.vote %></span>
			<% end %>
		</td>		
			<td width = 5%>
								<% if signed_in? %>
								<% if post.user_id == current_user.id || current_user.admin? %>
								<%= button_to "edit", "/#{post.type.downcase}s/#{post.id}/edit", :method => :get %>
								<%= button_to "delete", post, :method => :delete,
																 :confirm => "You sure",
																 :title => post.content %>
								<% end %>
								<% end %>
				</td>								
		</tr>
</ul>