<li class="team-item">
  <div class="item-top clearfix">
    <h3><%= link_to truncate(post.title, :length => 40), post %></h3>
    <div class="which-college">by: <%= link_to(post.user.try(:username), post.user, :class => :author) %></div>
    <div class="votes">
      <%= image_tag('like.png') %>
      <%= post.up_votes %>
      <%= image_tag('dislike.png', :class => 'dislike') %>
      <%= post.down_votes %>
    </div>
  </div>
  <div class="preview">
    <%= youtube_embed(post.video.url) if post.video %>
    <% if post.photo %>
        <a class="photo" href="<%= post.photo_url(:large) %>"><img src="<%= post.photo_url(:small) %>" alt=""/></a>
    <% end %>
  </div>
  <div class="summary">
    <%= truncate(post.summary, :length => 75) %>
  </div>
  <%= share_icons(post, :preview) %>
</li>
