<div class="standard clearfix">
  <div class="title_wrapper clearfix">
    <div class="cont_title"><h1><%= @title %></h1></div>
  </div>
  <div class="title_box">
    <h2>FILL IN THE FOLLOWING TO EDIT A SMACK</h2>
  </div>
  <div class="form_container post_form">
    <div class="form_wrapper">
      <%= form_for([ @parent, @post], :validate => true, :html => { :multipart => true }) do |f| %>
        <div class="table_padding">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td class="description"><%= f.label :title, 'Title:' %></td>
              <td class="entry"><%= f.text_field :title %></td>
            </tr>
            <% if can? :manage, Post %>
              <% if @post.type != 'ArticlePost' %>
                <tr>
                  <td class="description"><%= f.label :on_frontpage_week, 'Smack of the Week on the week:' %></td>
                  <td class="entry"><%= f.select(:on_frontpage_week, (Date.today.cweek..52).to_a, {:include_blank => true}) %></td>
                </tr>
              <% end %>
              <tr>
                <td class="description"><%= f.label :published %></td>
                <td class="entry"><%= f.check_box :published %></td>
              </tr>
            <% end %>
            <% if @post.video %>
              <%= f.fields_for :video, @post.video do |vf| %>
                <tr>
                  <td class="description"><%= vf.label :url, 'Video URL:' %></td>
                  <td class="entry"><%= vf.text_field :url %></td>
                </tr>
              <% end %>
            <% end %>
            <% if @post.photo %>
              <%= f.fields_for :photo, @post.photo do |pf| %>
                <tr>
                  <td class="description"><%= pf.label :image, 'Photo:' %></td>
                  <td class="entry"><%= pf.file_field :image %></td>
                </tr>
              <% end %>
            <% end %>
            <% if @post.news_post %>
              <%= f.fields_for :news_post, @post.news_post do |npf| %>
                <tr>
                  <td class="description"><%= npf.label :url, 'News URL:' %></td>
                  <td class="entry"><%= npf.text_field :url %></td>
                </tr>
              <% end %>
            <% end %>
            <% if @post.article %>
              <% if @post.article.image.exists? %>
                <%= f.fields_for :article, @post.article do |a| %>
                  <tr>
                    <td class="description"><%= a.label :image, 'Photo:' %></td>
                    <td class="entry"><%= a.file_field :image %></td>
                  </tr>
                <% end %>
              <% else %>
                <%= f.fields_for :article, @post.article do |a| %>
                  <tr>
                    <td class="description"><%= a.label :video_url, 'Video URL:' %></td>
                    <td class="entry"><%= a.text_field :video_url %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
            <tr>
              <td class="description va-top"><%= f.label :summary, 'Summary:' %></td>
              <td class="entry"><%= f.cktext_area :summary %></td>
            </tr>
            <% if @post.article %>
              <%= f.fields_for :article, @post.article do |a| %>
                <tr>
                  <td class="description va-top"><%= a.label :body, 'Body:' %></td>
                  <td class="entry"><%= a.cktext_area :body, :width => 380 %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
          <div class="confirmation_container clearfix">
            <div class="accept clearfix">
              <div class="important_notice clearfix">
              </div>
              <div class="blue_button"><%= f.submit "SUBMIT" %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
