<%= render 'masthead' %>
	<%= form_for @search, :url => posts_path, :html => {:method => :get} do |f| %>
	  <%= f.label :search %>
	  <%= f.text_field :title_or_post_summary_contains %>
	  <%= f.submit "Go!", :name =>nil %>
	<% end %>
<table class = "post">
<%= render :partial => "/posts/post", :collection => @posts %>
</table>
<%= will_paginate(@posts)%>

