<h1><%= @title %></h1>
<%= render :partial => 'shared/masthead' %>
<br class="clear"/>
<%= render :partial => 'shared/search_fields' %>
<% unless @posts.empty? %>
    <ul class="posts">
      <%= render :partial => "/posts/post", :collection => @posts %>
    </ul>
    <%= will_paginate(@posts) %>
<% end %>
