<div class="content new_level with_submenu clearfix">
  <%= render :partial => 'shared/masthead' %>
  <%= render :partial => 'shared/contest_button' if controller_name == "contest" %>
  <div class="content_title"><%= @title %></div>
  <div class="content_stats clearfix">
    <%= render 'shared/photovideomenu' if controller_name != "contest" && @parent.class.name != 'User' %>
    <%= render 'shared/search' %>
  </div>

  <% unless @posts.empty? %>
      <div class="content_container">
        <div class="content_category">
          <%= render :partial => 'shared/sorter' %>
          <div class="category_container clearfix" id="posts_index">
            <%= render :partial => "/posts/post", :collection => @posts %>
            <%= custom_paginate @posts %>
          </div>
        </div>
      </div>
  <% end %>
</div>
