<%= render 'shared/masthead1' %>	
		<h1>All <%= @college.name %> Posts</h1>
		<table class="masthead">
		<tr>
			<td>
				Videos | Photos | News | Stats
			</td>
		</tr>
		</table>
		<a><%= button_to "Add a Smack", new_college_smack_path(@college), :method => :get %></a>
		<%= will_paginate(@posts)%>
		<table class = "post">
		<%= render @posts %>
		</table>

