<div class="content new_level with_submenu clearfix">
  <%= render :partial => 'shared/masthead' %>
  <%= render :partial => 'shared/contest_button' if controller_name == "contest" %>
  <div class="content_title"><%= @title %></div>
  <div class="content_stats clearfix">
    <%= render 'shared/photovideomenu' if controller_name != "contest" && @parent.class.name != 'User' %>
    <%= render 'shared/search' %>
  </div>

  <% unless @posts.empty? %>
      <div class="content_container">
        <div class="content_category">
          <%= render :partial => 'shared/sorter', :locals => { :infinite_scrolling => true} %>

          <% if controller_name != "article_posts" && controller_name != "news_posts" %>
            <ul id="posts" class="items four_col_view">
              <% @posts.each do |post| %>
                <% next if post.postable_type == "Blog" %>
                <%= render "posts/small_preview", :post => post %>
              <% end %>
            </ul>
          <% else %>
            <div id="posts">
              <%= render :partial => "/posts/post", :collection => @posts %>
            </div>
          <% end %>

          <div id="posts_auto_scroll_indicator"></div>
          <div class="posts-auto-scroll auto-scroll">
            <%= next_page_paginate @posts %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
