<%= render 'shared/masthead1' %>
</table>
<h1>Submit a <%= @college.name %> Post</h1>
<%= form_for [@user, @college, @post], :html => { :multipart => true }  do |f| %> 
<%= render 'shared/fields', :f => f %>
<div class="actions">
	<%= f.submit "Submit" %> 
</div>
<% end %>

			
			
