<div class="standard clearfix">
  <div class="title_wrapper clearfix">
    <div class="cont_title"><h1><%= @title %></h1></div>
  </div>
  <div class="title_box">
    <h2><%= @submit %></h2>
  </div>
  <div class="form_container post_form">
    <div class="form_wrapper">
      <%= form_for [@parent, @post], :html => {:multipart => true}, :validate => true do |f| %>
      <% # Rendering content to javascript variables to switch later on %>
      <% content_for :js do %>
          var postcontent = [];
          postcontent[0] = '<%= f.fields_for :video, Video.new do |vf| %>
            <tr>
              <td class="description"><%=image_tag "youtube_logo.png", :style => "vertical-align: bottom" %><%= vf.label :url, ' URL:' %></td>
              <td class="entry"><%= vf.text_field :url %><small>Enter Youtube Links Only</small></td>
            </tr>
          <% end.gsub(/\r|\n/, '').html_safe %>
          ';
          postcontent[1] = '<%= f.fields_for :photo, Photo.new do |pf| %>
            <tr>
              <td class="description"><%= pf.label :image, 'Photo:' %></td>
              <td class="entry"><%= pf.file_field :image %></td>
            </tr>
          <% end.gsub(/\r|\n/, '').html_safe %>
          ';
          postcontent[2] = '<%= f.fields_for :news_post, NewsPost.new do |npf| %>
            <tr>
              <td class="description"><%= npf.label :url, 'Article URL:' %></td>
              <td class="entry"><%= npf.text_field :url %></td>
            </tr>
            <tr id="news_post_addons">
              <td class="description"></td>
              <td class="entry"><a href="#" id="news_add_photo">Add photo</a> or <a href="#" id="news_add_video">Add video</a></td>
            </tr>
            <tr class="hidden" id="news_photo_div">
              <td class="description"><%= npf.label :image, 'Photo:' %></td>
              <td class="entry"><%= npf.file_field :image %></td>
            </tr>
            <tr class="hidden" id="news_video_div">
              <td class="description"><%=image_tag "youtube_logo.png", :style => "vertical-align: bottom" %><%= npf.label :video_url, ' URL:' %></td>
              <td class="entry"><%= npf.text_field :video_url %><small>Enter Youtube Links Only</small></td>
            </tr>
          <% end.gsub(/\r|\n/, '').html_safe %>';
          function switch_fields(num) {
          $("ul.inner_menu span").removeClass("normal");
          $("#shifting_fields").html(postcontent[num]);
          switch(num) {
          case 0: $("#switch_photo").addClass("normal"); $("#switch_news").addClass("normal"); break;
          case 1: $("#switch_video").addClass("normal"); $("#switch_news").addClass("normal"); break;
          case 2: $("#switch_video").addClass("normal"); $("#switch_photo").addClass("normal"); break;
          }
          }
      <% end %>
      <% content_for :jq do %>
          $("#switch_video").click(function(){switch_fields(0); return false;});
          $("#switch_photo").click(function(){switch_fields(1); return false;});
          $("#switch_news").click(function(){switch_fields(2); return false;});
          $("#news_add_photo").live('click',function(e){e.preventDefault(); $("#news_post_addons").hide(); $("#news_photo_div").show();});
          $("#news_add_video").live('click',function(e){e.preventDefault(); $("#news_post_addons").hide(); $("#news_video_div").show();});
      <% end %>
        <div class="table_padding">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td class="description"><%= f.label :type, 'Post type:' %></td>
              <td class="entry">
                <ul class="inner_menu">
                  <li>
                    <span id="switch_video">Video</span>
                  </li>
                  <li>
                    <span id="switch_photo" class="normal">Photo</span>
                  </li>
                  <li>
                    <span id="switch_news" class="normal">News</span>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="description"><%= f.label :title, 'Title:' %></td>
              <td class="entry"><%= f.text_field :title %></td>
            </tr>
          </table>
          <table id="shifting_fields" cellpadding="0" cellspacing="0">
            <%= f.fields_for :video, Video.new do |vf| %>
              <tr>
                <td class="description"><%=image_tag "youtube_logo.png", :style => "vertical-align: bottom" %><%= vf.label :url, ' URL:' %></td>
                <td class="entry"><%= vf.text_field :url %><small>Enter Youtube Links Only</small></td>
              </tr>
            <% end %>
          </table>
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td class="description va-top"><%= f.label :summary, 'Summary:' %></td>
              <td class="entry"><%= f.text_area :summary %></td>
            </tr>
          </table>
          <div class="confirmation_container clearfix">
            <div class="accept clearfix">
              <div class="important_notice clearfix">
              </div>
              <div class="blue_button"><%= f.submit "SUBMIT" %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
