<% meta_tags({ "description" => " #{@post.title} : #{@post.summary} "
  }) -%>
<% if @youtube_video %>
<% open_graph_meta_tags({ "og:title" => "#{@post.title}",
    "og:type" => "movie",
    "og:site_name" => "#{SITE_NAME}",
    "og:description" => "#{@post.summary} ",
    "og:image" => " #{@youtube_video.thumbnail_large if @youtube_video}",
    "og:video:type" => "application/x-shockwave-flash",
    "og:video:height" => "398",
    "og:video:width" => "224",
    "og:video" => "http://www.youtube.com/v/#{@youtube_video.video_id if @youtube_video}"
  }) -%>
<%else%>
<% open_graph_meta_tags({ "og:title" => "#{@post.title}",
    "og:type" => "album",
    "og:site_name" => "#{SITE_NAME}",
    "og:description" => "#{@post.summary}"
  }) -%>
<%end%>
<h4><%= link_to @post.title, [@post.postable, @post] %></h4>
<div class="content">
  <% if @post.photo %>
    <div class="photo_post">
      <a class="photo snap_noshots" href="<%= @post.photo.url(:large) %>"><img src="<%= @post.photo.url(:medium) %>" alt=""/></a>
    </div>
  <% end %>
  <% if @post.video %>
    <div class="video_post"><%= youtube_embed(@post.video.url) %></div>
  <% end %>
  <div class="comments">
    <%= @post.summary %>
  </div>
</div>
<div class="timestamp">
  posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.try(:username) %>.
</div>
