<% content_for :js do %>
  function addRemoveContact(contact) {
    if ($(contact).prop("checked")) {
      $("#mail_recipients").tokenInput("add", $(contact).data('json'));
    } else {
      $("#mail_recipients").tokenInput("remove", $(contact).data('json'));
    }
  }
<% end %>
<% content_for :jq do %>
  $("#mail_recipients").tokenInput([
  <%= @contacts.map do |c|
    "{id: #{c.id}, name: '#{escape_javascript(c.name_or_email)}'}"
  end.join "," %>
  ], {
  preventDuplicates: true,
  theme: "facebook",
  hintText: "Start typing a name...",
  onAdd: function (item) {
    $("#contact-"+item.id).prop("checked", true);
  },
  onDelete: function (item) {
    $("#contact-"+item.id).prop("checked", false);
  }
  });
  $(".contact_checkbox").change(function(){
    addRemoveContact(this);
  });
  $("#current_group_checkbox").change(function(){
    var addRemove = $(this).prop("checked");
    $(".contact_checkbox:visible").each(function(i) {
      if ($(this).prop("checked") != addRemove) {
        $(this).prop("checked", addRemove);
        addRemoveContact(this);
      }
    });
  });
  $(".group_checkbox").change(function(){
    var addRemove = $(this).prop("checked");
    $(".licontact_checkbox").hide();
    $("#address_book .groups li").removeClass("active");
    $(this).closest("li").addClass("active");
    if ($(this).data('ids').toString().length > 0) {
      var ids = $(this).data('ids').toString().split(',');
      for (id in ids) {
        $(".contact_checkbox").each(function(i) {
          if ($(this).attr('id') == 'contact-'+ids[id]) {
            $("#li"+$(this).attr('id')).show();
            if ($(this).prop("checked") != addRemove) {
              $(this).prop("checked", addRemove);
              addRemoveContact(this);
            }
          }
        });
      }
    }
  });
  $(".group_link").click(function(){
    $(".licontact_checkbox").hide();
    $("#address_book .groups li").removeClass("active");
    $(this).closest("li").addClass("active");
    if ($(this).data('ids').toString().length > 0) {
      var ids = $(this).data('ids').toString().split(',');
      for (id in ids) {
        $(".contact_checkbox").each(function(i) {
          if ($(this).attr('id') == 'contact-'+ids[id]) {
            $("#li"+$(this).attr('id')).show();
          }
        });
      }
    }
  });
  $("#all_checkbox").change(function(){
    $("#address_book .groups li").removeClass("active");
    $(this).closest("li").addClass("active");
    var addRemove = $(this).prop("checked");
    $(".group_checkbox").prop("checked", addRemove);
    $(".contact_checkbox").each(function(i) {
      if ($(this).prop("checked") != addRemove) {
        $(this).prop("checked", addRemove);
        addRemoveContact(this);
      }
    });
  });
  $("#show_all_contacts").click(function(){
    $(".licontact_checkbox").show();
    $("#address_book .groups li").removeClass("active");
    $(this).closest("li").addClass("active");
  });
  $("#show_address_book").click(function(){
    if ($("#show_address_book").html() == "ADD RECIPIENTS") {
      $("#address_book").show('slow');
      $("#show_address_book").html("I'M DONE!");
    } else {
      $("#address_book").hide('slow');
      $("#show_address_book").html("ADD RECIPIENTS");
    }
  });
<% end %>
<div class="standard clearfix">
  <div class="title_wrapper clearfix">
    <div class="cont_title"><h1><%= @post.title %></h1></div>
  </div>
  <div class="title_box">
    <h2><%= @submit %></h2>
  </div>
  <div class="form_container post_form share_post">
    <div class="form_wrapper">
      <%= form_for :share, :url => send_as_smack_post_path(@post) do |f| %>
        <div class="table_padding">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td class="description va-top2"><%= f.label :to, 'To:' %></td>
              <td class="entry" colspan="2"><%= link_to "ADD RECIPIENTS", 'javascript:void(0)', :class => "blue_button", :id => "show_address_book" %><%= f.text_field :to, :id => 'mail_recipients' %></td>
            </tr>
            <tr class="hidden" id="address_book">
              <td class="description"></td>
              <td class="entry" colspan="2">
                <div class="groups">
                  <span>Groups:</span>
                  <ul>
                    <li class="active"><input type="checkbox" id="all_checkbox"/> <a href="javascript:void(0)" id="show_all_contacts">All</a></li>
                    <% @groups.each do |group| %>
                      <li><input type="checkbox" class="group_checkbox" id="group-<%= group.id %>" data-ids="<%= group.contacts.map(&:id).join(",") %>"/> <a href="javascript:void(0)" class="group_link" data-ids="<%= group.contacts.map(&:id).join(",") %>"><%= group.name %></a></li>
                    <% end %>
                  </ul>
                </div>
                <div class="contacts">
                  <span>Contacts:</span>
                  <ul>
                    <li><input type="checkbox" id="current_group_checkbox" /> All</li>
                    <% @contacts.each do |contact| %>
                      <li class="licontact_checkbox" id="licontact-<%= contact.id %>"><input type="checkbox" class="contact_checkbox" data-json='{"id": <%= contact.id %>, "name": "<%= contact.name_or_email %>"}' id="contact-<%= contact.id %>"/> <label for="contact-<%= contact.id %>"><%= contact.name %> &lt;<%= contact.email %>&gt;</label></li>
                    <% end %>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="description"><%= f.label :subject, 'Subject:' %></td>
              <td class="entry"><%= f.text_field :subject, :value => @subject %></td>
              <td class="content_bg" rowspan="2">
                <% if @post.photo %>
                  <img src="<%= @post.photo.url(:medium) %>" alt=""/>
                <% end %>
                <% if @post.video %>
                  <%= youtube_embed(@post.video.url, :medium) %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="description va-top"><%= f.label :message, 'Message:' %></td>
              <td class="entry"><%= f.text_area :message, :value => @message %></td>
            </tr>
          </table>
          <div class="confirmation_container clearfix">
            <span class="blue_button"><%= f.submit "SEND" %></span>
            <span class="blue_button"><%= f.submit "CANCEL" %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
