<% content_for :jq do %>
  $("#mail_recipients").tokenInput([
    <%= @contacts.map do |c| "{id: #{c.id}, name: '#{c.name_or_email}'}" end.join "," %>
    ], {
    preventDuplicates: true,
    theme: "facebook",
    hintText: "Start typing a name..."
  });
<% end %>
<div class="standard clearfix">
  <div class="title_wrapper clearfix">
    <div class="cont_title"><h1><%= @post.title %></h1></div>
  </div>
  <div class="title_box">
    <h2><%= @submit %></h2>
  </div>
  <div class="form_container post_form share_post">
    <div class="form_wrapper">
      <%= form_for :share, :url => send_as_smack_post_path(@post) do |f| %>
        <div class="table_padding">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td class="description va-top2"><%= f.label :to, 'To:' %></td>
              <td class="entry" colspan="2"><%= link_to "ADD RECIPIENTS", contacts_path, :class => "blue_button", :remote => true %><%= f.text_field :to, :id => 'mail_recipients' %></td>
            </tr>
            <tr>
              <td class="description"><%= f.label :subject, 'Subject:' %></td>
              <td class="entry"><%= f.text_field :subject, :value => @subject %></td>
              <td class="content_bg" rowspan="2">
                <% if @post.photo %>
                  <img src="<%= @post.photo.url(:medium) %>" alt=""/>
                <% end %>
                <% if @post.video %>
                  <%= youtube_embed(@post.video.url, :medium) %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="description va-top"><%= f.label :message, 'Message:' %></td>
              <td class="entry"><%= f.text_area :message, :value => @message %></td>
            </tr>
          </table>
          <div class="confirmation_container clearfix">
            <div class="accept clearfix">
              <div class="important_notice clearfix">
              </div>
              <div class="blue_button"><%= f.submit "SEND" %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
