<script type="text/javascript" src="http://www.plaxo.com/css/m/js/util.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/basic.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/abc_launcher.js"></script>
<script type="text/javascript">
  function onABCommComplete() {
    // OPTIONAL: do something here after the new data has been populated in your text area
    //alert($("#message_to").val());
  }
</script>
<%  form_tag(share_through_email_post_path(@post), {:remote => true, :method => :post}) do -%>
  <table>
    <tr>
      <td><%= label_tag("message[to]", "To") %></td>
      <td>
        <%= text_area_tag("message[to]", @to_emails, {:rows => 1, :cols => 5, :style => "height:28px;width:380px;padding:10px"}) %>
        <a href="#" onclick="showPlaxoABChooser('message_to', '<%=  plaxo_import_user_path(@user) %>'); return false">
          <img src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt="Add from my address book" />
        </a>
      </td>
    </tr>
    <tr>
      <td><%= label_tag("message[body]", "Message:") %></td>
      <td><%= text_area_tag("message[body]","
      <a href='#{polymorphic_url([@post.postable,@post])}'>#{@post.title}</a> is shared from <a href='campsmac.com'> #{SITE_NAME}</a>
    as #{(@post.type)}. <br/> Post Summary : #{(@post.summary)} <br/> ",
          :style => "height:125px;width:380px;padding-right:20px;margin-right:10px") %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Share") %></td>
    </tr>
  </table>
<% end -%>