<% if can? :edit, @post %>
    <div class="actions">
      <%= link_to 'Edit', method("edit_#{@post.postable_type.downcase}_#{@post.type.downcase}_path").call(@parent, @post), :class => 'button' %>
      <%= link_to 'Delete', @post, :method => :delete, :confirm => "Delete Post?", :class => 'button' %>
    </div>
<% end %>
<h1><%= @post.title %></h1>
<div class="post">
  <div class="top">
    posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.try(:username) %>.
    <%= vote_buttons(@post, :small) %>
    <br class="clear"/>
  </div>
  <% if @post.photo %>
      <div class="photo">
        <img src="<%= @post.photo.url(:large) %>" alt=""/>
      </div>
  <% end %>
  <%= link_to "News post", @post.news_post.url unless @post.news_post.blank? %>
  <% if @post.video %>
      <div class="content"><%= youtube_embed(@post.video.url, true) %></div>
  <% end %>
  <div class="summary"><%= @post.summary %>
    <% if @post.summary && params[:action] != 'show' %>
        <%= link_to " [more...]", [@parent, @post] %>
    <% end %>
  </div>
  <br class="clear"/>
  <% if signed_in? %>
      <%= form_for [@post, Comment.new], :remote => true do |f| %>
          <%= render '/shared/comments', :f => f %>
          <div>
            <%= f.submit "Submit Comment" %>
          </div>
      <% end %>
  <% end %>
  <% if @post.comments.any? %>
      <h2>Comments:</h2>
      <%= will_paginate(@comments) %>
  <% end %>
  <div class="comments">
    <%= render :partial => @post.comments %>
  </div>
</div>