<%= render 'shared/masthead1' %>
<h1><%= @college.name %> <%= @post.type %></h1>
<table class="masthead">
<tr>
	<td>
		Videos | Photos | News | Stats
	</td>
</tr>
</table>
  <table class="post" summary="User microposts">
	<%= render :partial => "/posts/post", :object => @post %>
	</table>
	<% if signed_in? %>
  <%= form_for ([@post, Comment.new]) do |f| %> 
  <%= render '/shared/comments', :f => f %>
<div class="actions">
  <%= f.submit "Submit Comment" %>
</div>
  <% end %>
  <% end %>
	<%= will_paginate(@comments)%>
	<table class = "comments">
	<%= render @comments %>
	</table>



