<% open_graph_meta_tags({ "og:title" => "#{SITE_NAME}",
    "og:type" => "movie",
    "og:url" => "#{@youtube_video.url if @youtube_video}",
    "og:site_name" => "#{SITE_NAME}",
    "og:description" => " #{@post.title} <br/> #{@post.summary} ",
    "og:image" => " #{@youtube_video.thumbnail_small if @youtube_video}",
    "og:video:type" => "application/x-shockwave-flash",
    "og:video:height" => "398",
    "og:video:width" => "224",
    "og:video" => "http://www.youtube.com/v/#{@youtube_video.video_id if @youtube_video}"
  }) -%>

<div class="content new_level with_submenu clearfix">
  <div class="content_actions">
    <ul>
      <% if can? :report, @post %>
        <li class="dark_button">
          <%= link_to('Report Post', report_post_path(@post), :class => 'button postreport', :remote => true, :id => "post_rep_#{@post.id}") %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="content_title"><%= censoring(@post.title) %></div>
  <div class="content_container">
    <div class="content_category">
      <div class="smack_container clearfix">
        <ul class="actions">
          <li class="voting_icons"><%= share_and_voting_icons(@post, :show) %></li>
          <% if signed_in? %>
            <li>
              <%= link_to('<img src="/images/edit.png" alt="Edit" />'.html_safe, method("edit_#{@post.postable_type.downcase}_#{@post.type.downcase}_path").call(@post.postable, @post), :class => 'button') if can? :update, @post %>
              <%= link_to('<img src="/images/delete.png" alt="Delete" />'.html_safe, @post, :method => :delete, :confirm => "Delete Post?", :class => 'button') if can? :destroy, @post %>
            </li>
          <% end %>
        </ul>

        <div class="smack_info">
    <span class="team">
      Team:
      <%= link_to @post.postable.name, method("#{@post.postable_type.downcase}_path").call(@post.postable) %>
    </span>
          Posted
          <span class="date"><%= time_ago_in_words(@post.created_at) %> ago</span>
          <em>by</em>
          <%= link_to @post.user.try(:username), user_path(@post.user), :class => "author" %>
        </div>

        <% if @post.photo || @post.news_post || @post.video %>
          <div class="smack_content">
        <% end %>
        <% if @post.photo %>
          <div class="photo">
            <img src="<%= @post.photo.url(:large) %>" alt=""/>
          </div>
        <% end %>
        <% if @post.news_post %>
          <%= link_to "Article Preview", @post.news_post.url, :class => 'snap_shots' unless @post.news_post.blank? %>
          <% unless @post.news_post.image_file_name.blank? %>
            <div class="photo">
              <img src="<%= @post.news_post.image_url(:large) %>" alt=""/>
            </div>
          <% end %>
          <% unless @post.news_post.video_url.blank? %>
            <div><%= youtube_embed(@post.news_post.video_url, :large) %></div>
          <% end %>
        <% end %>
        <% if @post.video %>
          <div><%= youtube_embed(@post.video.url, :large) %></div>
        <% end %>
        <% if @post.photo || @post.news_post || @post.video %>
          </div>
        <% end %>
        <div class="summary"><%= censoring(@post.summary) %>
          <% if @post.summary && params[:action] != 'show' %>
            <%= link_to " [more...]", [@parent, @post] %>
          <% end %>
        </div>
        <br class="clear"/>
        <div class="content_title2">Comments</div>
        <% if signed_in? %>
          <div class="add_comment">
            <%= form_for [@post, Comment.new], :remote => true do |f| %>
              <%= render '/shared/comments', :f => f %>
              <%= f.submit "Comment", :class => "blue_button right" %>
            <% end %>
        <% end %>
        </div><br class="clear"/>
        <%= will_paginate(@comments) %>
        <div class="comments_container">
          <%= render :partial => @post.comments.sort_by { |c| c.created_at }.reverse %>
          <% unless current_user %>
            <p class="comment_auth_message">You must be signed in to comment. <%=link_to "Sign in", sign_in_path %> or <%= link_to "Create an Account", sign_up_path %>.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
