<table class="masthead">
<tr>
	<td>
		<%= @college.name %> |
		<%= link_to "Home", college_path(@college) %> |
		<%= link_to "Smacks", college_smacks_path(@college) %> |
		<%= link_to "Redemptions", college_redemptions_path(@college) %>
	</td>
</tr>
</table>	
	
		<h1>All <%= @college.name %> Posts</h1>
		<%= will_paginate(@posts)%>
		<table class = "post">
		<%= render @posts %>
		</table>

