<ul>
	<tr>
		<td class ="post", id = "title"><%= link_to smack.title, "/smacks/#{smack.id}" %>
		</td>
	</tr>
<tr>
	<td>
		<% unless smack.photo_file_name.nil? %>
		<span class = "photo"><%= image_tag smack.photo.url(:medium) %></span>
		<% end %>
		<span class="content"><%= youtube_embed(smack.content).html_safe %></span>
		<span class = "vote">Total Votes: <%= smack.vote %></span>
		<span class="timestamp"><br>
			Posted <%= time_ago_in_words(smack.created_at) %> ago.
			</span>
		</td>		
		<td>
							<% if request.fullpath =~ /smacks/ %>
							<%= link_to "delete", smack, :method => :delete,
															 :confirm => "You sure",
															 :title => smack.content %>
							<% end %>
			</td>							
	</tr>

</ul>