<%= render 'shared/masthead1' %>
	</table>	
		<h1><%= @college.name %> Smacks</h1>
			<table class="masthead">
			<tr>
				<td>
					Videos | Photos | News | Stats
				</td>
			</tr>
			</table>
			<% if signed_in? %>
		<a><%= button_to "Add a Smack", new_user_college_smack_path(@user, @college), :method => :get %></a>
		   <% else %>
		<a><%= button_to "Add a Smack", signin_path, :method => :get %></a>
			<% end %><br>
		<table class = "post">
		<%= render :partial => "/posts/post", :collection => @smacks %>
		</table>
		<%= will_paginate(@smacks)%>
