<%= render 'shared/masthead1' %>
	</table>	
		<h1><%= @college.name %> Smacks</h1>
			<table class="masthead">
			<tr>
				<td>
					Videos | Photos | News | Stats
				</td>
			</tr>
			</table>
		<a><%= link_to "Add a Smack", new_user_college_smack_path(@college) %></a>
		<table class = "post">
		<%= render @smacks %>
		</table>
		<%= will_paginate(@smacks)%>
