<header>
<div id="header">
  <ul>
	<% if user_signed_in? %>
<<<<<<< HEAD
=======
	<nav class="round">
      <% if session[:provider] %>
      Signed in with <%= service_link(Authentication.where(:id => session[:provider]).first, 32, false) %>
      <% end %>
	<ul>
>>>>>>> c220bab1450432b99527cfe70a67559a03eb7506
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "My Posts", "/users/#{current_user.id}" %></li>
	<li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
	<li><%= link_to "Help", help_path %></li>
	<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	
	<% else %>
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Sign in", new_user_session_path %></li>
	<li><%= link_to "Help", help_path %></li>
	<% end %>
  </ul>	
</div>
</header>


