<div class="top_submenu clearfix">
  <ul>
    <li class="conference_column_first">Division:</li>
    <% [ 'I-A', 'I-AA' ].each do |div| %>
        <li<%= ' class="active"'.html_safe if session[:division] == div %>><%= link_to_if(session[:division] != div, div, change_div_path(div)) %></li>
    <% end %>
  </ul>
</div>
<div class="left_menu">
  <ul>
    <% @conferences.each do |conference| %>
        <li class="with_submenu<%= ' active' if @conference == conference %>">
          <a href="<%= url_for(conference) %>"><%= conference.name %></a>
          <ul>
            <% conference.colleges.order('name asc').each do |college| %>
                <li<%= if college == @college then; ' class="active"'.html_safe end %>><%= link_to college.name, college %></li>
            <% end %>
          </ul>
        </li>
    <% end %>
  </ul>
</div>
