<table class="body">
	<tr id="main_app">
	  <td id="main_app">
		<div id="nav_list">	
			<ul id="nav">
				<li><b><%=link_to "ACC" %></b>
				  <ul>
					<% @college_acc = College.where("conference = ?", "ACC") %>
				    <% @college_acc.each do |college| %>
				    <li><%= link_to college.name, college %></li>
				    <% end %>
				  </ul>
				</li>
				<li><b><%=link_to "SEC" %></b>
				 <ul>
					<% @college_sec = College.where("conference = ?", "SEC") %>
				    <% @college_sec.each do |college| %>
				    <li><%= link_to college.name, college %></li>
				    <% end %>
				  </ul>
				</li>
			</ul>			
		</div>
	  </td>
		<td id="main_app">
   			<div class="container">
      			<section class="round">
        		<% flash.each do |key, value| %>
          			<%= content_tag(:div, value, :class => "flash #{key}") %>
        			<% end %>
        			<%= yield %>
      			</section>
				<%= render 'layouts/footer' %>
      			<%= debug(params) if Rails.env.development? %>
				</td>
				<td id="main_app" width=20%>     </td>
			</tr>
    	</div>
	</table>