<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= title %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'rails.validations', 'twipsy', '/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js', 'jquery.toastmessage.js' %>

  <%= stylesheet_link_tag 'reset', 'style', 'user', 'twipsy', 'lionbuttons', 'utility_components', 'facebox', 'jquery.fancybox-1.3.4.css', 'jquery.toastmessage.css' %>
  <%= javascript_include_tag "facebox" %>
  <% unless Rails.env == 'development' || Rails.env == 'test' %>
      <%= javascript_include_tag 'http://shots.snap.com/ss/d83b52a2e254661d23d1c0974a8b36c3/snap_shots.js' %>
  <% end %>
  <%= yield(:head) %>
  <%= yield :meta %>
  <%= yield :og_meta %>
  <script type="text/javascript">
      <%= yield :js %>
      $(function () {
          <% flash.each do |key, value| %>
          $().toastmessage('showToast', {
              text     : "<%= value %>",
              sticky   : <%= get_toast_sticky(key) %>,
              position : 'top-center',
              type     : "<%= get_toast_type(key) %>"
          });
          <% end %>
          <%= yield :jq %>
      });
  </script>
  <%= csrf_meta_tag %>
</head>
<body id="<%= @body_id %>">
<div id="super_wrapper">
  <div id="header">
    <div class="center_page ">
      <div class="top_menu">
        <% unless current_user %>
            <span>sign in:</span>
            <a href="/sign_in" class="network icon"></a>
            <%= header_service_link(:facebook) %>
            <%= header_service_link(:twitter) %>
            <div class="line"></div>
            <%= link_to "Sign Up", sign_up_path, :class => "sign_up" %>
        <% else %>
            <%= link_to 'My Posts', user_path(current_user), :class => "white" %>
            |
            <%= link_to 'Profile', edit_user_registration_path, :class => "white" %>
            |
            <%= link_to 'Sign Out', sign_out_path, :class => "white" %>
        <% end %>
      </div>

      <h1 class="logo">Campusmack</h1>

      <%= user_nav %>
    </div>
  </div>
  <div class="second_body clearfix <%= add_padd_if_no_breadcrumbs %>">
    <div id="basic_content" class="center_page clearfix">
      <%= yield(:above) %>
      <%= render_breadcrumbs %>
      <div class="wrapper clearfix">
        <div id="conference_column" class="column">
          <%= render 'layouts/left_sidebar' %>
        </div>
        <div id="yield_column" class="column">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer ">
  <div class="footer_content">
    <span class="copyright">2011 Campusmack All rights reserved</span>
    <img src="/images/tw_ducks.png" class="ducks" alt=""/>
    <a href="#" class="footer_link">Follow us on Twitter</a>
  </div>
</div>
</body>
</html>
