<% @college = College.all%>
<%= render 'shared/error_messages', :object => f.object %> 
<div class="field">
<span class="required">*</span><%= f.label :username, "Username:" %>
<%= f.text_field :username %>
</div>
<div class="field">
<span class="required">*</span><%= f.label :first_name, "First Name:" %>
<%= f.text_field :first_name %> 
<span class="required">*</span><%= f.label :last_name, "Last Name:" %>
<%= f.text_field :last_name %> 
</div>
<div class="field">
<span class="required">*</span><b>Affiliation:</b>
<%= f.select(:affiliation, %w{Student Alumni Fan}, {:include_blank => true})  %>
<b>of</b> <%= f.select(:college, @college.map {|a| [a.name]}, {:include_blank => true})  %>
</div>
<div class="field">
<span class="required">*</span><%= f.label :email, "Email:" %>
<%= f.text_field :email, :validate =>{:presence => true, :confirmation => true } %>
</div> 
<div class="field">
<span class="required">*</span><%= f.label :password, "Password:"  %>
<%= f.password_field :password, :validate =>{:presence => true, :confirmation => true } %> 
</div>
<div class="field"> 
<span class="required">*</span><%= f.label :password_confirmation, "Password Confirmation:" %>
<%= f.password_field :password_confirmation, :validate =>{:presence => true, :confirmation => true} %>
</div>