<% @college = College.all %>

<tr>
  <td class="description"><%= f.label :username, "Username:" %></td>
  <td class="entry"><%= f.text_field :username %></td>
  <td class="star"><%= mark_required(resource, :username) %></td>
</tr>

<tr>
  <td class="description"><%= f.label :first_name, "First Name:" %></td>
  <td class="entry"><%= f.text_field :first_name %></td>
  <td class="star"><%= mark_required(resource, :first_name) %></td>
</tr>

<tr>
  <td class="description"><%= f.label :last_name, "Last Name:" %></td>
  <td class="entry"><%= f.text_field :last_name %></td>
  <td class="star"><%= mark_required(resource, :last_name) %></td>
</tr>

<tr>
  <td class="description">Gender:</td>
  <td class="entry"><%= f.select(:gender, [['Male', 'M'], ['Female', 'F']], {:include_blank => true}, :class => 'gender') %></td>
  <td class="star"><%= mark_required(resource, :gender) %></td>
</tr>

<tr>
  <td class="description"><%= f.label :affiliation, "Affiliation:" %></td>
  <td class="entry">
    <span class="affiliation_span"><%= f.select(:affiliation, %w{Student Alumni Fan}, {:include_blank => true}, :class => 'affilation') %></span>
    <span class="college_span">of <%= f.select(:college_id, @college.map { |a| [a.name, a.id] }, {:include_blank => true}, :class => 'college') %></span>
  </td>
  <td class="star"><%= mark_required(resource, :affiliation) %></td>
</tr>

<tr>
  <td class="description"><%= f.label :email, "Email:" %></td>
  <td class="entry"><%= f.text_field :email, :validate =>{:presence => true, :confirmation => true} %></td>
  <td class="star"><%= mark_required(resource, :email) %></td>
</tr>

<% unless f.object.new_record? %>
    <tr>
      <td class="description"><%= f.label :censor_text, "Censor Text?" %></td>
      <td class="entry"><%= f.check_box(:censor_text, :validate =>{:presence => true, :confirmation => true}) %></td>
    </tr>
<% end %>

<tr>
  <td class="description"><%= f.label :password, "Password:" %></td>
  <td class="entry"><%= f.password_field :password, :validate =>{:presence => true, :confirmation => true} %></td>
  <td class="star"><%= mark_required(resource, :password) %></td>
</tr>

<tr>
  <td class="description"><%= f.label :password_confirmation, "Confirm password:" %></td>
  <td class="entry"><%= f.password_field :password_confirmation, :validate =>{:presence => true, :confirmation => true} %></td>
  <td class="star"><%= mark_required(resource, :password_confirmation) %></td>
</tr>