<div class="standard clearfix">
  <div id="loading_div">
    <p align="center"><%= image_tag("ajax-loader.gif") %></p>
  </div>
  <div id="loading-message" style="text-align: center; width: 100%; font-weight: bold;"></div>
  <div class="title_wrapper clearfix">
    <div class="cont_title"><h1>Profile</h1></div>
  </div>
  <div class="column_wrapper clearfix sign_in-bg">
    <div class="left_column edit_profile_left_column">
      <div class="title_box">
        <h2>EDIT USER INFO</h2>
      </div>
      <div class="form_container edit_profile">
        <div class="form_wrapper">
          <%= render :partial => 'form' %>
        </div>
      </div>
    </div>
    <div class="right_column">
      <div class="title_box">
        <h2>EDIT ACCOUNT INFO</h2>
      </div>
      <div class="cancel_account_container">
        <div class="cancel_account_wrapper">
          <div class="info_container">
            <%= render :partial => "shared/authentications" %>
            <div class="cancel_account clearfix">
              <div class="white_button">
                <%= link_to "CANCEL ACCOUNT", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="title_box">
        <h2>EMAIL SETTINGS</h2>
      </div>
      <div class="email_settings_container">
        <div class="email_settings_wrapper">
          <ul class="clearfix">
            <li class="dark_button im"> <%= render :partial => 'contacts/import_form' -%></li>
            <li class="dark_button mg"> <%= link_to "MANAGE CONTACTS", contacts_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="dotted_area">
    <%= link_to "", :back, :class => 'back_button' %>
  </div>
</div>
<script type="text/javascript">
    $('#loading_div').hide().ajaxStart(function() {
        $(this).show();
    })
            .ajaxStop(function() {
        $(this).hide();
    })
            ;
</script>