<div class="standard clearfix">
  <div class="title_wrapper">
    <h1>Campusmack Sign up</h1>
  </div>
  <div class="column_wrapper clearfix sign_in-bg">
    <div class="left_column">
      <div class="title_box">
        <h2>SIGN UP WITH CAMPUSMACK</h2>
      </div>
      <div class="form_container form_sign_up">
        <div class="form_wrapper">
          <%= render :partial => 'form' %>
        </div>
      </div>
    </div>
    <div class="right_column">
      <%= render :partial => "users/shared/sign_up_services_list" %>
      <div class="title_box">
        <h2>ALREADY A MEMBER?</h2>
      </div>
      <div class="sign_in_container">
        <div class="sign_in_wrapper">
          <%= form_for(resource, :as => resource_name, :url => new_session_path(resource_name)) do |f| %>
              <%#= render 'shared/error_messages', :object => f.object %>
              <div class="table_padding">
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="description"><%= f.label :new_email, "Email:" %></td>
                    <td class="entry"><%= f.email_field :email, :id => "new_email"%></td>
                  </tr>
                  <tr>
                    <td class="description"><%= f.label :new_password, "Password:" %></td>
                    <td class="entry"><%= f.password_field :password, :id => "new_password" %></td>
                  </tr>
                </table>
              </div>
              <%= render :partial => "users/shared/sign_in_links", :locals => {:resource_name => resource_name, :f => f} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
